@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
}





.card {
    width: 300px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}





.card__text {
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__text p {
    font-size: 1.3em;
    font-weight: 600;
    cursor: default;
}




.card__image-wrap {
    margin: 10px auto 10px;
    text-align: center;
    cursor: default;
}

.btn-color {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.btn-color:not(:last-of-type) {
    margin-right: 5px;
}

.btn-color img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-color:hover {
    border: 3px solid rgba(0, 99, 138, 0.5);
}

input[type="radio"] {
    display: none;
}

.card__image .apw1, .card__image .apw2, .card__image .apw3, .card__image .apw4, .card__image .apw5 {
    display: none;
}

input#apwc1:checked ~ .card__image .apw1,
input#apwc2:checked ~ .card__image .apw2,
input#apwc3:checked ~ .card__image .apw3,
input#apwc4:checked ~ .card__image .apw4,
input#apwc5:checked ~ .card__image .apw5 {
    display: block;
}

.card__image {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.card__image img {
    width: 100%;
}

.card__image:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    /* animation: shake 0.5s infinite; */
}

@keyframes shake {
    0% {transform: rotate(1deg);}
    10% {transform: rotate(-1deg);}
    20% {transform: rotate(1deg);}
    30% {transform: rotate(-1deg);}
    40% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}
    60% {transform: rotate(1deg);}
    70% {transform: rotate(-1deg);}
    80% {transform: rotate(1deg);}
    90% {transform: rotate(-1deg);}
    100% {transform: rotate(1deg);}
}





.card__size {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card__size__btn {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.785em;
    font-weight: 600;
    transition: all 0.2s;
}

.card__size__btn:hover {
    background-color: #ffffff;
    color: #000000;
}





.card__pop-up__text {
    width: 300px;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
}

.card__pop-up__text-close {
    display: block;
    width: 40px;
    margin: 15px auto 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.card__pop-up__text__topic {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__pop-up__text__topic span:nth-child(1) {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    line-height: 2;
}

.card__pop-up__text__topic span:nth-child(2) {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
}

.card__pop-up__text__topic p {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}


#pop-up1, #pop-up2 {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#pop-up1:target, #pop-up2:target {
    opacity: 1;
    visibility: visible;
}





.card__add-to-cart {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__add-to-cart button {
    width: 180px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.card__add-to-cart button:hover {
    background-color: #ffffff;
    color: #000000;
}
